
@font-face {
  font-family: 'trebuchet_msregular';
  src: url('../fonts/trebuc-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/trebuc-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/trebuc-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/trebuc-webfont.svg#trebuchet_msregular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'trebuchet_msbold';
  src: url('../fonts/trebucbd-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/trebucbd-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/trebucbd-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/trebucbd-webfont.svg#trebuchet_msbold') format('svg'); /* Legacy iOS */
}

$font-regular: 'trebuchet_msregular';
$font-bold: 'trebuchet_msbold';

$purple: #633799;
$blue: #006eb9;
$dk-blue: #14679e;
$red: #b8222a;
$pale: #dddddd;

h1 {
	font-family: $font-bold;
	color: $blue;
	font-size: 48px;
	line-height: 57px;
	margin-bottom: 20px;
}
.page-template-default {
	h1 {
		line-height: 69px;
		font-size: 58px;
	}
}
h2 {
	font-family: $font-bold;
	color: $purple;
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 30px;
	a {
		color: $blue;
		text-decoration: underline;
	}
}
h3 {
	font-family: $font-regular;
	font-size: 24px;
	a {
		color: $blue;
		text-decoration: underline;
	}
}
h4 {
	font-family: $font-regular;
	color: $purple;
	font-size: 20px;
	line-height: 28px;	
}
h5 {
	font-family: $font-bold;
	padding: 15px 0 30px 0;
}

p {
	font-family: $font-regular;
	&.center-align {
		text-align: center !important;
	}
}

a {
	color: $blue;
	&:hover {
		color: $dk-blue;
	}
	&:focus {
		color: $blue;
	}
}

.button {
	font-size: 18px;
}

hr {
	border-bottom: 5px solid $purple;
}

.column-img {
	img {
		width: 100%;
	}
}

body {
	background: #fff;
	font-family: $font-regular;
	font-size: 16px;
	&.home {
		#breadcrumbs {
			display: none;
		}
	}
}

header {
	padding-bottom: 10px;
	background: #dddddd;
	.utility {
		.utility-sub-wrapper {
			border-bottom: 5px solid #006eb9;
			display: inline-block;
			padding-bottom: 24px;
		}
		.utility-home {
			float: left;
		    background-image: url("../images/home-page-icon.png");
			background-repeat: no-repeat;
			background-color: #006eb9;
			background-position: center center;
			text-indent: -999em;
			width: 2rem;
			height: 28px;
			background-size: contain;
			background-image: url("../images/home-page-icon.svg");
			margin-right: 10px;
		}
		#country-menu {
			float: left;
			margin-right: 10px;
			.country-picker {
				width: 54px;
				height: 100%;
				border: none;
				background-color: #dededd;
				padding: 0 0 0 14px;
				position: relative;
				a {
					background-image: url('../images/flags/USA.png');
					background-size: 36px 28px;
					width: 36px;
					height: 28px;
					text-indent: -999em;	
				}
				.submenu-toggle {
					left: 0;
					top: 0;
					width: 54px;
					height: 28px;
					&:after {
						margin-left: 0;
					}
				}
			}
			.submenu {
				position: absolute;
				background: #fff;
				z-index: 100;
			}
		}
		#utility-blog {
			float: left;
			background: #dededd;
			font-family: $font-bold;
			color: $blue;
			font-size: 14px;
			margin-right: 10px;
			width: 136px;
			.nested.is-accordion-submenu {
				position: absolute;
				background-color: rgba(0, 110, 185, 0.9);
				border: 0;
			}
			.is-accordion-submenu-parent {
				a {
					padding-top: 6px;
					&::after {
						top: 14px;
						right: 14px;
					}
				}
			}
			.is-accordion-submenu a {
			    color: #fff !important;
			    padding: 0.5rem !important;
			    border-bottom: 1px solid #fff;
			    margin-right: 0 !important;
			}
		}
		.top-bar-left {
			float: right;
		}
		.utility-crc {
			float: left;
			background: #dededd;
			font-family: $font-bold;
			color: $purple;
			font-size: 14px;
			padding: 4px 18px 3px 0;
			margin-right: 10px;
		}
		#searchform {
			float: left;
			.input-group-field {
				width: 198px;
				background-color: #dededd;
				border: 0;
				height: 28px;
				font-size: 14px;
				font-family: $font-bold;
				box-shadow: none;
				padding: 8px 18px;
			}
			.input-group-button {
				input {
					background: #dededd;
					background-image: url('../images/search-icon.png');
					background-image: url('../images/search-icon.svg');
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					width: 28px;
					height: 28px;
					text-indent: -999em;
				}
			}
		}
		.site-desktop-title {
			a {
				background-image: url('../images/phoLogos/PHO-logo.svg');
				background-size: cover;
				background-repeat: no-repeat;
				width: 240px;
				height: 66px;
				display: block;
				text-indent: -999em;
				margin-top: 15px;
			}
		}
	}
	.site-navigation {
		.desktop-menu {
			flex-direction: row;
			z-index: 100;
			li {
				width: auto;
				display: block !important;
				a {
					font-family: $font-bold;
					color: $blue;
					font-size: 15px;
					padding-left: 0 !important;
					margin-right: 1em;
					padding-right: 18px !important;
				}
				.submenu-toggle {
					&:after {
						border: 0 !important;
						background-image: url("../images/down-arrow-blue.svg");
						background-position: center;
						background-repeat: no-repeat;
						width: 6px !important;
						height: 6px !important;
					}							
				}
				&.is-active {
					a {
						color: #000 !important;
					}
				}
				&.contact {
					a {
						color: $red;
					}
				}
				.submenu {
					background-color: rgba(0, 110, 185, 0.9);
					border: 0;
					position: absolute;
					min-width: 224px;
					li {
						border: 0;
						width: 100%;
						a {
							color: #fff !important;
							padding: 0.5rem !important;
							border-bottom: 1px solid #fff;
							margin-right: 0 !important;
						}
						.submenu-toggle {
							top: -4px;
							&:after {
								background-image: url("../images/down-arrow.svg");
							}							
						}
						&:last-child {
							border-bottom: 0;
						}
						.submenu {
							position: relative;
							padding-left: 0;
							li {
								a {
									padding-left: 1.5rem !important;
								}
								.submenu {
									a {
										padding-left: 2.5rem !important;										
									}
								}
							}
						}
						&.contact {
							background: rgba(184,34,42,.9);
						}
					}
				}
			}
		}
	}
}
#breadcrumbs {
	margin: 1.5rem 0 1rem 0;
}
.hero {
	padding-bottom: 15px;
	padding-top: 30px;
	.banner-hero {
		position: relative;
		margin-bottom: 30px;
		.banner-hero-container {
			position: absolute;
			top: 0;
			left: 50px;
		}
	}
}
.home {
	.breadcrumbs {
		display: none;
	}
	.hero {
		background: #006eb9;
		padding: 0;
		margin-bottom: 40px;
		.banner-hero {
			background: #fff;
			padding: 0 !important;
			.banner-hero-container {
				top: 30px;
			}
		}
	}
}
.section-header {
	padding-top: 15px;
	padding-bottom: 15px;
	h2 {
		text-align: center;
		margin-bottom: 0;
	}
	hr {
		margin-bottom: 24px;
	}
}
.four-columns, .three-columns {
	padding-top: 15px;
	padding-bottom: 30px;
}
.bucket {
	padding: 10px 10px 34px 10px;
	background: $pale;
	text-align: center;
	margin-bottom: 30px;
	a {
		text-decoration: none;
	}
	h3 {
		font-family: $font-bold;
		margin: 20px 0 15px 0;
	}
	h4 {
		color: #000;
		font-family: $font-bold;
		font-size: 18px;
		line-height: 26px;
	}
	p {
		text-align: left;
	}
	ul {
		text-align: left;
		margin-left: 2.5rem;
	}
	hr {
		border-bottom: 4px solid $purple;
		width: 50%;
		margin: 12px auto;
	}
	iframe {
		width: 100% !important;
	}
}
.variation {
	ul {
		li {
			display: inline;
			&:last-child {
				span {
					display: none;
				}
			}
		}		
	}
	.key-features {
		ul {
			li {
				display: list-item;
			}
		}
	}
}
.products-sidebar, .sidebar {
	h3, h6 {
		font-family: $font-bold;
		font-size: 24px;
		margin: 20px 0;
		display: inline-block;
		&:after {
			display: block;
			content: '';
			width: 100%;
			border-bottom: 4px solid $purple;
			padding-top: 15px;
		}
	}
	h5 {
		padding: 0;
	}
}
.cta-banner {
	padding: 38px 0 30px 0;
	margin-bottom: 45px;
	h4 {
		color: #fff;
	}
	.cta-button {
		position: relative;
		.button {
			font-family: $font-bold;
			font-size: 18px;
			background: $pale;
			color: $purple;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.purple {
		background: $purple;
	}
	&.blue {
		background: $blue;
	}
}
.blog {
	article {
		margin-bottom: 40px;
		h2 {
			font-size: 24px;
			line-height: 30px;
		}
	}
	h2 {
		margin-bottom: 0;
		&.entry-title {
			margin-bottom: 20px;
		}
		a {
			text-decoration: none;
		}
	}
	.featured-hero {
		height: 12.5rem;
	}
}
.single {
	article {
		header {
			background: none;
		}
		.featured-hero {
			height: 31rem;
		}
	}
}
footer {
	position: relative;
	margin-top: 60px;
	padding-top: 70px;
	color: #fff;
	background: $blue;
	.footer-container {
		border-top: 0;
	}
	.footer-triangle {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 88px;
		z-index: -1;
		div {
			background-image: url('../images/bottomTriangle.svg');
			background-color: transparent;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			width: 100%;
			height: 165px;
		}
	}
	#social-menu {
		li {
			a {
				background-repeat: no-repeat;
				display: block;
				height: 40px;
				width: 40px;
				text-indent: -999em;
				overflow: hidden;
				background-size: cover;
			}
			&.youtube {
				a {
					background-image: url('../images/social/youtube.png');
					background-image: url('../images/social/youtube.svg');					
				}
			}
			&.linkedin {
				a {
					background-image: url('../images/social/linkedin.png');
					background-image: url('../images/social/linkedin.svg');					
				}
			}
			&.twitter {
				a {
					background-image: url('../images/social/twitter.png');
					background-image: url('../images/social/twitter.svg');					
				}
			}
			&.facebook {
				a {
					background-image: url('../images/social/facebook.png');
					background-image: url('../images/social/facebook.svg');					
				}
			}
			&.googleplus {
				a {
					background-image: url('../images/social/googleplus.png');
					background-image: url('../images/social/googleplus.svg');					
				}
			}
		}
	}
	#footer-menu {
		float: right;
		margin-right: 74px;
		li {
			padding: 0 15px;
			border-left: 1px solid #fff;
			a {
				font-family: $font-bold;
				font-size: 15px;
				padding: 0;
				color: #fff;
			}
			&:first-child {
				border-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	.copy {
		float: right;
		font-family: $font-regular;
		font-size: 10px;
		line-height: 15px;
		margin-right: 74px;
		text-align: right;
		margin-top: 26px;
	}
}

// AJAX Load More
.product-wrapper {
	.alm-filters {
		.alm-filter {
			float: left;
			width: 25%;
			text-align: center;
			h3 {
				&:after {
					border: 0 !important;
					background-image: url("../images/down-arrow-purple.svg");
					background-position: center;
					background-repeat: no-repeat;
					width: 16px !important;
					height: 8px !important;
					content: '';
					display: inline-block;
					background-size: contain;
					margin-left: 8px;
				}
				&.rotate {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
			ul {
				text-align: left;
				margin-left: 60px;
			}
		}
	}
}
.ajax-load-more-wrap ul.alm-listing li.grid-item {
   border: 1px solid #efefef;
   width: 47%;
   margin: 0 1.5% 3%;
   float: left;
   display: inline;
   padding: 30px;
   a {
	   display: block;
	   img {
		   position: relative;
	   }
   }
}
@media screen and (max-width: 480px){
   .ajax-load-more-wrap ul.alm-listing li.grid-item{
      width: 100%;
      margin: 0 0 20px;  
   }
}

.all-products-filters {
	ul {
		display: none;
	}
}
.product-bucket-link {
	display: block;
}

.featured-post {
	background: $blue;
    padding: 12px 60px 12px 30px;
    a {
	    display: block;
		h2 {
			color: #fff;
			font-size: 24px;
			line-height: 28px;
		}
		span {
			color: #fff;
			font-size: 16px;
			line-height: 24px;
			font-family: $font-bold;
		}
    }
}
.feed-articles {
	.news-post {
	    margin-bottom: 0px;
	    padding-bottom: 8px !important;
	    border-bottom: 1px solid #cecece !important;
	    margin-top: 20px;
	    h2 {
			line-height: 18px;
			margin-bottom: 10px;
			a {
				font-size: 16px;
				text-decoration: none;
			}
		}
	}
	&:first-child {
		.news-post {
			border-top: 0 !important;
			padding-top: 0 !important;
		}
	}
}
.event-posts {
    margin-bottom: 0px;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #cecece !important;
    margin-top: 12px;
	h2 {
	    color: #000;
	    font-size: 16px;
	    margin-bottom: 12px;
	}

}
.featured-yes {
	border-top: 0;
	border-top: 0;
	padding-top: 0;
	&.featured-post {
		background: $blue;
	    padding: 12px 60px 12px 30px;
	    a {
		    display: block;
			h2 {
				color: #fff !important;
				font-size: 24px;
				line-height: 28px;
			}
			span {
				color: #fff;
				font-size: 16px;
				line-height: 24px;
				font-family: $font-bold;
			}
	    }
	}
}
.type-events {
	&.featured-yes {
		h2 {
			color: #fff;
			font-size: 24px;
			line-height: 28px;
		}
		p {
			color: #fff;
			font-size: 16px;
			line-height: 24px;
			font-family: $font-bold;
		}
		a {
			color: #fff;
			font-size: 16px;
			line-height: 24px;
			font-family: $font-bold;
		}	
	}
}
.news-main {
	h2 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.button {
		margin-top: 30px;
	}
	.event-posts {
		h2 {
			font-size: 16px;
		}
	}
}
.dropdown.menu.vertical > li > a::after {
	right: 0;
    border-color: #006eb9 transparent transparent;
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    right: 0;
    border-color: #006eb9 transparent transparent;
}
.accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
    transform-origin: 50% 50%;
    right: 0;
    border-color: #006eb9 transparent transparent;
}
.accordion-item {
	margin-bottom: 10px;
	.accordion-title {
/*
		font-size: 24px;
		font-family: $font-bold;
*/
    background: #f2f2f2;
    border: 0;
    border-bottom: 0 !important;
    color: #0a0a0a;
    font-size: 16px;
    font-family: "trebuchet_msregular";
    padding: 10px 15px;
    line-height: 1.5;
		span {
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9.5px 5.5px 0 5.5px;
			border-color: #0a0a0a transparent transparent transparent;
			margin-right: 10px;
			transform: rotate(31deg);
		}
		&:before {
			display: none;
		}
	}
	&.is-active {
		.accordion-title {
			span {
				transform: none;
			}
		}
	}
}
.accordion-content {
	border: 0;
}
.pr-feed {
	margin-top: 40px;
	h1 {
		color: $purple;
	}
	.news-post {
		border-bottom: 1px solid #cecece;
	    margin-bottom: 2rem;
	    padding-bottom: 1rem;
	    clear: both;
	    img {
		    display: block;
		    float: left;
	        margin-right: 30px;
	    }
	    .content {
		    float: left;
		    h2 {
			    font-size: 24px;
			    line-height: normal;
			    margin-bottom: 20px;
			    a {
				    text-decoration: none;
			    }
		    }
		    .entry-meta {
			    color: #808080;
		    }
		    .excerpt {
			    margin-bottom: 14px;
			    p {
				    display: inline;
			    }
			    .read-more {
				    font-family: $font-bold;
			    }
		    }		    
	    }
	}
}
.events-feed {
	margin-top: 40px;
	.event-post {
		border-bottom: 1px solid #cecece;
	    margin-bottom: 1rem;
	    padding-bottom: 1rem;
		h2 {
			margin-bottom: 14px;
		    font-size: 24px;
		    line-height: normal;
		}
		p {
			margin-bottom: 0;
		}
		.event-link {
			font-family: $font-bold;
		}
	}
}
.page-template-ic_events, .page-template-ls_events {
	#alm-filter-2 {
		display: none;
	}	
}
.page-template-ic_press_releases, .page-template-ic_in_the_news, .page-template-ls_press_releases, .page-template-ls_in_the_news {
	#alm-filter-3 {
		display: none;
	}	
}
.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
	max-width: 480px;
}
#respond {
	margin-top: 40px;
}
.single {
	article {
		margin-top: 40px;
		.entry-content {
			p {
				margin-bottom: 30px;
			}		
		}		
	}
}
.crc {
	#menu-primary {
		li {
			a {
				color: $blue;
			    padding: 8px 0;
			}
		}
		.submenu {
			margin-left: 15px;
			li {
				a {
					color: $blue;
				}
			}
		}	
	}
}
.news-banner {
	h2 {
		color: #fff;
	}
	.entry-title {
		font-size: 18px;
		line-height: normal;
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.cooling {
	.bucket {
		h3 {
			position: relative;
			display: inline-block;
			.air {
				background: url('../images/air.jpg') no-repeat;
				background-size: cover;
				width: 33px;
				height: 33px;
				display: inline-block;
				position: absolute;
				left: -38px;
			}
			.water {
				background: url('../images/water.jpg') no-repeat;
				background-size: cover;
				width: 33px;
				height: 33px;
				display: inline-block;
				position: absolute;
				left: -38px;		
			}		
		}
	}
	.variation {
		li {
			display: block;
		}
		&.bucket {
			margin-bottom: 0;
			padding-bottom: 0;
			h5 {
				padding-bottom: 0;
			}
		}
	}
}
.search {
	h1 {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	article {
		margin-bottom: 40px;
		h2 {
			margin-bottom: 10px;
			a {
				text-decoration: none;
			}
		}
		h5 {
			padding: 0;
		}
	}
}